<h1>Modifica Centro di Accoglianza</h1>

<form name="edit_form" class="form-horizontal" role="form">
 <div class="row" >
<div class="form-group">
    <label for="nome" class="col-sm-2 control-label">Nome Centro:</label>
    <div class="col-sm-2">
      <input class="form-control" id="nome"
             ng-model="centro.nome" placeholder="inserire nome centro"/>
    </div>
	
  </div>
</div>

<div class="row" >
<div class="form-group">
   
	 <label for="indirizzo" class="col-sm-2 control-label">Luogo e indirizzo centro :</label>
    <div class="col-sm-2">
      <input class="form-control" id="indirizzo"
             ng-model="centro.luogo" placeholder="inserire il luogo del centro"/>
    </div>
	
	
  </div>
</div>

  <div class="form-group">

    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" id="submit" class="btn btn-small btn-primary" ng-click="editCentro()" class="btn btn-small btn-primary">
	  <a href="#/listcentri" class="btn btn-small btn-danger">Cancella</a>
    </div>
  </div>
</form>